<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|striptags} | {/ifset}Czech Silent Hill Heaven</title>

    <script>
        var App = App || {};
        App.BASE_PATH = {$basePath};
    </script>

    {* must be here for the theme to load sooner *}
    <script src="{asset $basePath . '/bower_components/jquery/dist/jquery.js'}"></script>
    <script src="{asset $basePath . '/js/themes.js'}"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{asset $basePath . '/bower_components/lightbox2/dist/css/lightbox.css'}">
    <link rel="stylesheet" href="{asset $basePath . '/css/common.css'}">
    <link rel="stylesheet" href="{asset $basePath . '/css/front.css'}">
    <link rel="shortcut icon" href="{asset $basePath . '/favicon.ico'}">

    {* do not use asset macro for this one *}
    <link id="theme-stylesheet" rel="stylesheet" href="{$basePath}/css/theme-fog.css">

    {block head}{/block}
</head>

<body>
    {include '../../Presenters/templates/include/flashes.latte'}

    <nav id="top-nav-bar">

        <div id="theme-switch" class="pointer">
            Téma
        </div>

        <div id="nav-bar-items">
            <a href="http://silenthill.heavenforum.org" target="_blank">Fórum</a>
            {if $user->isLoggedIn()}
                <a class="item" n:href=":Admin:Homepage:default">Uživatelská sekce</a>
                <a class="item" n:href=":Admin:Settings:me">Já</a>
                <a class="item" n:href=":Admin:Sign:out">Odhlásit</a>
            {else}
                <span class="item pointer" data-modal-target="sign-in-form">Přihlásit</span>
                <span class="item pointer" data-modal-target="sign-up-form">Registrovat</span>
            {/if}
        </div>

        <div class="clear-both"></div>

    </nav>

    <div id="bg-body-wrapper" style="background-image: url({asset $basePath . '/images/bg-fog.jpg'})">

        <a id="bg-body-wrapper-gap" n:href="Homepage:default"></a>

        <div id="body-wrapper">

            <nav id="menu">

                {control menuControl}

            </nav>

            <div id="content">

                {include content}

            </div>

            <div class="clear-both"></div>

        </div>

    </div>

    {include 'include/footer.latte'}

    <div id="black-filter"></div>

    {include 'include/cookies.html'}

    {if $user->isLoggedIn() === false}
        {control signInForm}
        {control signUpForm}
        {control signResetForm}
    {/if}

    <script src="{asset $basePath . '/bower_components/nette-forms/src/assets/netteForms.js'}"></script>
    <script src="{asset $basePath . '/bower_components/nette.ajax.js/nette.ajax.js'}"></script>
    <script src="{asset $basePath . '/bower_components/lightbox2/dist/js/lightbox.js'}"></script>
    <script src="{asset $basePath . '/bower_components/ckeditor/ckeditor.js'}"></script>
    <script src="{asset $basePath . '/js/ckeditor-config.js'}"></script>
    <script src="{asset $basePath . '/js/modals.js'}"></script>
    <script src="{asset $basePath . '/js/cookies.js'}"></script>
    <script src="{asset $basePath . '/js/main.js'}"></script>
    <script>
        lightbox.option({
            'wrapAround': true
        });
    </script>

    {block scripts}{/block}

    {include 'include/backlinks.com.latte'}
</body>
</html>
