<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">

    <title>{ifset title}{include title|striptags} | {/ifset}Czech Silent Hill Heaven</title>

    <link rel="stylesheet" href="{$basePath}/fonts/OpenSans.css">
    <link rel="stylesheet" href="{$basePath}/css/main-admin.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {block head}{/block}
</head>

<body>
    {include '../../Presenters/templates/include/flashes.latte'}

    <nav id="top-nav-bar">

        <a n:href=":Front:Homepage:default">
            <img id="hots-icon" src="{$basePath}/images/halo_of_the_sun.png">
        </a>

        <div id="nav-bar-items" n:if="$presenter->name !== 'Admin:Sign'">
            <a href="http://silenthill.heavenforum.org" target="_blank">Fórum</a>
            <a class="item" n:href="Homepage:default">Uživatelská sekce</a>
            <a class="item" n:href="Settings:me">Já</a>
            <a class="item" n:href="Sign:out">Odhlásit</a>
        </div>

        <div class="clear-both"></div>

    </nav>

    <div id="content">

        {include content}

    </div>

    <script src="{$basePath}/libs/ckeditor/ckeditor.js"></script>
    <script src="{$basePath}/libs/js/libs-admin.js"></script>
    <script src="{$basePath}/js/main-admin.js"></script>

    {block scripts}{/block}
</body>
</html>
