{block content}

<h1 n:block="title">{$video->name}</h1>

{if !$video->isActive}
    <a n:href="activate!, videoId => $video->id" data-confirm="{_}locale.alert.question{/_}">Povolit</a>
    <a n:href="delete!, videoId => $video->id" data-confirm="{_}locale.alert.question{/_}">Smazat</a>
{/if}

{include '../../../../presenters/templates/include/video.latte', width => 960, height => 540, src => $video->src, title => $video->name}
