<div>
    <label>
        {_}locale.form.tag{/_}
        <select name="tagId">
            <option n:foreach="$tags as $id => $name" value="{$id}">{$name}</option>
        </select>
    </label>
</div>
