{if $items}

    {foreach $items as $item}

        <div>

            {var $draftCount = $item->drafts->count()}

            {if $draftCount}

                <span>{$draftCount}</span>

                <a n:href="WikiDraft:default, wikiId => $item->id">{$item->name}</a>

            {else}

                <a n:href="$formLink, id => $item->id">{$item->name}</a>

            {/if}

        </div>

    {/foreach}

{/if}
