{if $items}

    {foreach $items as $item}

        <div>

            {if $item->isActive === false}

                <a n:href="$detailLink, id => $item->id">{$item->name}</a>

            {elseif $item->isActive && $item->drafts->count()}

                <a n:href="WikiDraftListing:default, wikiId => $item->id">{$item->name}</a>

            {else}

                <a n:href="$formLink, id => $item->id">{$item->name}</a>

            {/if}

        </div>

    {/foreach}

{/if}
