<a class="menu-item" n:href="GameListing:default">{_}locale.sections.games{/_}</a>
<a class="menu-item" n:href="MovieListing:default">{_}locale.sections.movies{/_}</a>
<a class="menu-item" n:href="BookListing:default">{_}locale.sections.books{/_}</a>
<a class="menu-item" n:href="ArticleListing:default">{_}locale.sections.articles{/_}</a>
<a class="menu-item" n:href="GalleryListing:default">{_}locale.sections.galleries{/_}</a>
<a class="menu-item" n:href="VideoListing:default">{_}locale.sections.videos{/_}</a>

<div class="clear-left"></div>
