*~
*.bak
.php_cs.cache

composer
composer.phar

phing.phar

!.gitignore
!.htaccess

config.local.neon

/vendor

/log/*
!/log/.gitkeep

/temp/*
!/temp/.gitkeep

!/temp/sessions
/temp/sessions/*
!/temp/sessions/.gitkeep

/tests/Integration/tmp/*
!/tests/Integration/tmp/.gitkeep

/www/thumbs/*
!/www/thumbs/.gitkeep
/www/upload/*
!/www/upload/.gitkeep
/www/video_thumbnails/*
!/www/video_thumbnails/.gitkeep

output/

bower_components
node_modules
coverage.html
