/.php_cs.cache
/config/config.local.neon
/log/*
!log/.gitkeep
/temp/*
!temp/.gitkeep
!temp/sessions
/temp/sessions/*
!temp/sessions/.gitkeep
/tests/Integration/tmp/*
!tests/Integration/tmp/.gitkeep
/tests/Smoke/tmp/*
!tests/Smoke/tmp/.gitkeep
/www/thumbs/*
!www/thumbs/.gitkeep
/www/upload/*
!www/upload/.gitkeep
/www/video_thumbnails/*
!www/video_thumbnails/.gitkeep
/www/libs
/node_modules
output/
/vendor
/coverage*
