*~
*.bak
.php_cs.cache

composer
composer.phar

!.gitignore
!.htaccess

config.local.neon

/vendor

/log/*
!/log/.htaccess

/temp/*
!/temp/.htaccess
!/temp/sessions
/temp/sessions/*
!/temp/sessions/.gitkeep

/tests/tmp/*
!/tests/tmp/.gitkeep

/www/upload/*
!/www/upload/.gitkeep
/www/thumbs/*
!/www/thumbs/.gitkeep

output/

bower_components
node_modules
