<script src="{asset $basePath . '/bower_components/jquery/dist/jquery.js'}"></script>
<script src="{asset $basePath . '/bower_components/nette-forms/src/assets/netteForms.js'}"></script>
<script src="{asset $basePath . '/js/main.js'}"></script>