{block content}

{include '../include/topMenu.latte'}

<div id="top-buttons-bar">

    {include '../include/new.latte', link => 'BookDetail:form', label => 'Nový článek'}

    {control filter:sharedContent}

</div>

{include '../include/itemList.latte', formLink => 'BookDetail:form'}

{control vp}
