#menu ul li .menu-link {
    background-color: #06c;
}

#menu ul li .menu-link:hover {
    background-color: #059;
}

#menu .inactive-items-indicator {
    background-color: #06c;
}

#menu .inactive-items-indicator:hover {
    background-color: #059;
}
