parameters:
    cacheDir: %tempDir%/cache
    sessionsDir: %tempDir%/sessions
    thumbsDir: /thumbs
    uploadDir: /upload
    videoThumbnailsDir: /video_thumbnails
    contactEmail: 'john.doe@example.com'
    vimeoOembedEndpoint: 'https://vimeo.com/api/oembed.xml'

php:
    date.timezone: Europe/Prague

application:
    scanDirs: false
    mapping:
        *: App\*\*Presenter

session:
    autoStart: true
    expiration: '14 days'
    save_path: %sessionsDir%

services:
    authenticator: App\Security\Authenticator
    router: App\Router\RouterFactory::createRouter
    paginatorFactory: App\Utils\PaginatorFactory
    videoThumbnail: App\Videos\VideoThumbnail(%wwwDir%, %videoThumbnailsDir%, %vimeoOembedEndpoint%, /images/default-video-image.jpg)
    htmlPurifier: App\Utils\HtmlPurifierFactory::createHtmlPurifier

    singleUserContentDao: App\Dao\SingleUserContentDao
    wikiDao: App\Dao\WikiDao

    articleRepository: App\Repositories\ArticleRepository(@doctrine.dao(App\Entities\ArticleEntity))
    imageRepository: App\Repositories\ImageRepository(%wwwDir%, %uploadDir%, @doctrine.dao(App\Entities\ImageEntity), @doctrine.dao(App\Entities\FileEntity))
    tagRepository: App\Repositories\TagRepository(@doctrine.dao(App\Entities\TagEntity))
    userRepository: App\Repositories\UserRepository(@doctrine.dao(App\Entities\UserEntity))
    videoRepository: App\Repositories\VideoRepository(%vimeoOembedEndpoint%, @doctrine.dao(App\Entities\VideoEntity))
    wikiDraftRepository: App\Repositories\WikiDraftRepository(@doctrine.dao(App\Entities\WikiDraftEntity))
    wikiRepository: App\Repositories\WikiRepository(@doctrine.dao(App\Entities\WikiEntity))

    tagCache: App\Caching\TagCache(
        Nette\Caching\Cache(
            Nette\Caching\Storages\FileStorage(%cacheDir%), 'tags'
        )
    )

    articleTagSectionCache: App\Caching\ArticleTagSectionCache
    bookTagSectionCache: App\Caching\BookTagSectionCache
    gameTagSectionCache: App\Caching\GameTagSectionCache
    imageTagSectionCache: App\Caching\ImageTagSectionCache
    movieTagSectionCache: App\Caching\MovieTagSectionCache
    videoTagSectionCache: App\Caching\VideoTagSectionCache

    articleForm:
        implement: App\Forms\ArticleFormInterface
    galleryForm:
        implement: App\Forms\GalleryFormInterface
    profileSettingsForm:
        implement: App\Forms\ProfileSettingsFormInterface
    signInForm:
        implement: App\Forms\SignInFormInterface
    signPasswordForm:
        implement: App\Forms\SignPasswordFormInterface
    signResetForm:
        implement: App\Forms\SignResetFormInterface
    signUpForm:
        implement: App\Forms\SignUpFormInterface
    videoForm:
        implement: App\Forms\VideoFormInterface
    wikiDraftForm:
        implement: App\Forms\WikiDraftFormInterface
    wikiForm:
        implement: App\Forms\WikiFormInterface

    tagsControl:
        implement: App\Components\TagsControlInterface
    visualPaginatorControl:
        implement: App\Components\VisualPaginatorControlInterface

extensions:
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    arachneContainerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachneEventDispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension
    console: Kdyby\Console\DI\ConsoleExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension
    gitPanel: HeavenProject\GitBranchPanel\GitBranchPanelExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    server: Kdyby\NettePhpServer\DI\PhpServerExtension
    sessionPanel: Kdyby\SessionPanel\DI\SessionPanelExtension
    thumb: HeavenProject\Thumbnailer\DI\ThumbExtension
    timestampable: Zenify\DoctrineBehaviors\DI\TimestampableExtension
    translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    userCommandLine: HeavenProject\UserCommandLine\UserCommandLineExtension

migrations:
    table: _migrations

thumb:
    wwwDir: %wwwDir%
    thumbDir: %thumbsDir%

translation:
    default: cs

userCommandLine:
    targetEntity: App\Entities\UserEntity
