#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
doctrine:
    dbname: silenthill
    host: 127.0.0.1
    user: root
    password: password
    charset: UTF8
    driver: pdo_mysql


nette:
    debugger:
        bar:
            - Nextras\MailPanel\MailPanel(%tempDir%)


services:
    nette.mailer:
#        class: Nextras\MailPanel\FileMailer(%tempDir%/mails)
        class: Nextras\MailPanel\SessionMailer
