#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
includes:
    - application.neon

    - extensions.neon
    - extensions.asset.neon
    - extensions.migrations.neon
    - extensions.thumb.neon
    - extensions.translation.neon

    - parameters.neon

    - php.neon

    - session.neon

    - services.neon

    - ../../libs/heavenproject/AssetLoader/config.neon
