services:
    router: App\RouterFactory::createRouter
    - App\Model\Crud\ArticleCrud(@doctrine.dao(App\Model\Entities\ArticleEntity))
    - App\Model\Crud\ImageCrud(
        %wwwDir%,
        %uploadDir%,
        @doctrine.dao(App\Model\Entities\ImageEntity),
        @doctrine.dao(App\Model\Entities\FileEntity)
    )
    - App\Model\Crud\TagCrud(@doctrine.dao(App\Model\Entities\TagEntity))
    - App\Model\Crud\UserCrud(@doctrine.dao(App\Model\Entities\UserEntity))
    - App\Model\Crud\VideoCrud(@doctrine.dao(App\Model\Entities\VideoEntity))
    - App\Model\Crud\WikiCrud(@doctrine.dao(App\Model\Entities\WikiEntity))
