{block content}

{include '../include/topMenu.latte'}

{control form}

{if $item}

    {include '../../../Presenters/templates/include/video.latte', width => 960, height => 540, src => $item->src, title => $item->name}

{/if}
