<div class="content-body">

    <div n:if="$wiki->isActive" class="action-buttons">

        <a href="#draft">Upravit</a>

    </div>

    <h1 n:block="title">{$wiki->name}</h1>

    <div class="text-content">{$wiki->text|noescape}</div>

    <div id="draft">

        {if $user->isLoggedIn() && $wiki->isActive}

            {control form}

        {/if}

    </div>

</div>
