{include 'include/htmlOpen.latte'}

{include 'include/hello.html'}

<p>obdrželi jsme od Vás požadavek na obnovu zapomenutého hesla.</p>

<p>Kliknutím na odkaz níže budete přesměřováni na stránku, na které budete mít možnost zadat si heslo zcela nové.</p>

<p><strong>Pokud jste o obnovu hesla nepožádali, prosím ignorujte tento e-mail.</strong></p>

<p><a href="{$link}">{$link}</a></p>

{include 'include/bestRegards.html'}

{include 'include/htmlClose.html'}
