{include 'include/htmlOpen.latte'}

{include 'include/hello.html'}

<p>děkujeme za registraci na webu <a href="{$baseUri}">{$host}</a>.</p>

<p>Váš účet prozatím není aktivní. Jeho aktivaci můžete provést kliknutím na následující odkaz: <a href="{$link}">{$link}</a>.</p>

{include 'include/bestRegards.html'}

{include 'include/htmlClose.html'}
