{block content}

<div n:if="$canAccess">
    {if $inactiveOnly}
        <a n:href="this, page => 1, inactiveOnly => 'no'">Zobrazit moje vlastní neschválené</a>
    {else}
        <a n:href="this, inactiveOnly => 'yes'">Zobrazit rozpracované</a>
    {/if}
</div>

{include '../include/new.latte', label => 'Nový článek'}

{include '../include/itemList.latte'}

{control vp}
