{form form}

    {foreach $form->errors as $error}
        <div>{$error}</div>
    {/foreach}

    <div>
        {label password /}
        {input password}
    </div>

    <div>
        {label password_confirm /}
        {input password_confirm}
    </div>

    <div>
        {input submit}
    </div>

{/form}
