{form form}

    {foreach $form->errors as $error}
        <div>{$error}</div>
    {/foreach}

    <div>
        {label perex /}
        {input perex}
    </div>

    <div>
        {label text /}
        {input text}
    </div>

    {input startTime}

    <div>
        {input submit}
    </div>

{/form}

<div n:if="$latestDraft">

    {$latestDraft->text|noescape}

</div>
