<div id="activity-switch" n:if="$canAccess">
    {if $inactiveOnly}
        <a n:href="this, page => 1, inactiveOnly => 'no'">Zobrazit vše</a>
    {else}
        <a n:href="this, inactiveOnly => 'yes'">Zobrazit pouze neschválené</a>
    {/if}
</div>
