<span n:if="$canAccess" class="activity-switch">

    <a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_DEFAULT}">{_}locale.filter.display_mine{/_}</a>

    <a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_INACTIVE}">{_}locale.filter.display_inactive{/_}</a>

    <a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_DRAFTS}">{_}locale.filter.display_drafts{/_}</a>

</span>
