<span n:if="$canAccess" class="activity-switch">

    {include 'include/FilterControl.displayDefault.latte'}

    {include 'include/FilterControl.displayInactive.latte'}

    {include 'include/FilterControl.displayDrafts.latte'}

</span>
