<ul>

    <li>

        <a href="{plink Game:default}">{_}locale.sections.games{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_GAMES] as $tag">

                <a href="{plink Game:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="{plink Movie:default}">{_}locale.sections.movies{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_MOVIES] as $tag">

                <a href="{plink Movie:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="{plink Book:default}">{_}locale.sections.books{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_BOOKS] as $tag">

                <a href="{plink Book:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="{plink Article:default}">{_}locale.sections.articles{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_ARTICLES] as $tag">

                <a href="{plink Article:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="{plink Gallery:default}">{_}locale.sections.galleries{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_IMAGES] as $tag">

                <a href="{plink Gallery:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="{plink Video:default}">{_}locale.sections.videos{/_}</a>

        <ul>

            <li n:foreach="$menuItems[App\Caching\MenuCache::SECTION_VIDEOS] as $tag">

                <a href="{plink Video:default, tagSlug => $tag->slug}">{$tag->name|truncate:30}</a>

            </li>

        </ul>

    </li>

    <li>

        <a href="http://www.silenthill-chronicle.cz">Kronika SH</a>

    </li>

    <li>

        <a href="http://smrthrou.silent-hill.cz/Hryahoror.htm">Smrt Hrou</a>

    </li>

</ul>
