{if count($tags)}

    {var $link = substr($control->presenter->name, 6) . ':default'}

    <div class="tags">

        <a href="{plink $link}">{_}locale.tags.show_all{/_}</a>

        <a n:foreach="$tags as $tag" href="{plink $link, tagSlug => $tag->slug}">{$tag->name}</a>

    </div>

{/if}
