{block title} {_}locale.sections.games{/_} {if $tag} - {$tag->name}{/if} {/block}

{block content}

{foreach $wikis as $wiki}

    <div>
        <h2><a n:href="detail, tagSlug => $wiki->tag->slug, slug => $wiki->slug">{if !$wiki->isActive}&times;{/if} {$wiki->id}. {$wiki->name}</a></h2>
        <p>{$wiki->perex}</p>
    </div>

{/foreach}

{control vp}
