<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|striptags} | {/ifset}Czech Silent Hill Heaven</title>

    <script>
        var App = App || {};
        App.BASE_PATH = {$basePath};
    </script>

    {* must be here for the theme to load sooner *}
    <script src="{asset $basePath . '/bower_components/jquery/dist/jquery.js'}"></script>
    <script src="{asset $basePath . '/js/themes.js'}"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{asset $basePath . '/bower_components/lightbox2/dist/css/lightbox.css'}">
    <link rel="stylesheet" href="{asset $basePath . '/css/common.css'}">
    <link rel="stylesheet" href="{asset $basePath . '/css/front.css'}">
    <link rel="shortcut icon" href="{asset $basePath . '/favicon.ico'}">

    {* do not use asset macro for this one *}
    <link id="theme-stylesheet" rel="stylesheet" href="{$basePath}/css/theme-fog.css">

    {block head}{/block}
</head>

<body>
    {include '../../../presenters/templates/include/flashes.latte'}

    <nav id="top-nav-bar">

        <div id="theme-switch" class="pointer">
            Téma
        </div>

        <div id="nav-bar-items">
            {if $user->isLoggedIn()}
                <a class="item" n:href=":Admin:Homepage:default">Uživatelská sekce</a>
                <a class="item" n:href=":Admin:Settings:me">Já</a>
                <a class="item" n:href=":Admin:Sign:out">Odhlásit</a>
            {else}
                <span class="item pointer" data-modal-target="sign-in-form">Přihlásit</span>
                <span class="item pointer" data-modal-target="sign-up-form">Registrovat</span>
            {/if}
        </div>

        <div class="clear-both"></div>

    </nav>

    <div id="bg-body-wrapper" style="background-image: url({asset $basePath . '/images/bg-fog.jpg'})">

        <a id="bg-body-wrapper-gap" n:href="Homepage:default"></a>

        <div id="body-wrapper">

            <nav id="menu">

                {control menuControl}

            </nav>

            <div id="content">

                {include content}

            </div>

            <div class="clear-both"></div>

        </div>

    </div>

    <div id="footer">

        <div id="footer-navigation">
            <a n:href="Game:default">{_}locale.sections.games{/_}</a>
            <a n:href="Movie:default">{_}locale.sections.movies{/_}</a>
            <a n:href="Book:default">{_}locale.sections.books{/_}</a>
            <a n:href="Article:default">{_}locale.sections.articles{/_}</a>
            <a n:href="Gallery:default">{_}locale.sections.galleries{/_}</a>
            <a n:href="Video:default">{_}locale.sections.videos{/_}</a>
        </div>

        <div id="facebook">
            <div>Přidejte se k nám na Facebooku</div>
            <div>
                <a href="https://www.facebook.com/SilentHillczsk" target="_blank">zde</a>,
                <a href="https://www.facebook.com/groups/152193754830396" target="_blank">zde</a> nebo
                <a href="https://www.facebook.com/groups/129963486557" target="_blank">zde</a>
            </div>
        </div>

        <div id="copyright">
            <p>Značky PlayStation, PlayStation 2, Playstation 3 a jiné jsou registrované obchodní značky Sony. Silent Hill je obchodní značka Konami.</p>
            <p>Tento web není oficiálním projektem Konami ani Sony. Czech Silent Hill Heaven je 100% neoficiální fanouškovská internetová stránka a není nijak spojena s Konami nebo Sony. Pokud není uvedeno jinak, je zakázáno používat obsah této stránky bez požádání autora. Veškerá oficiální grafická práce je autorsky chránena patričnými společnostmi. Všechny fanouškovské obrázky, skladby a články patří autorům a je zakázáno je kopírovat bez jejich souhlasu.</p>
            <p>Czech Silent Hill Heaven. Všechna práva vyhrazená 2006 - {date('Y')}.</p>
        </div>

        <div id="github">
            <a href="https://github.com/CSHH/website" target="_blank">
                <img src="{asset $basePath . '/images/github.png'}">
            </a>
        </div>

    </div>

    <div id="black-filter"></div>

    <div id="cookies-confirmation">
        Vážený návštěvníku, tato webová stránka ke svému správnému fungování využívá soubory cookies. Děkujeme za pochopení.
        <span class="confirmation-button pointer">Ano, rozumím a souhlasím</span>
    </div>

    {if $user->isLoggedIn() === false}
        {control signInForm}
        {control signUpForm}
        {control signResetForm}
    {/if}

    <script src="{asset $basePath . '/bower_components/nette-forms/src/assets/netteForms.js'}"></script>
    <script src="{asset $basePath . '/bower_components/nette.ajax.js/nette.ajax.js'}"></script>
    <script src="{asset $basePath . '/bower_components/lightbox2/dist/js/lightbox.js'}"></script>
    <script src="{asset $basePath . '/js/main.js'}"></script>
    <script>
        $(function() {
            $.nette.init();
        });
    </script>

    {block scripts}{/block}
</body>
</html>
