<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|striptags} | {/ifset}Czech Silent Hill Heaven</title>

    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">

    {block head}{/block}
</head>

<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    <h1>
        <a n:href="Homepage:default">Czech Silent Hill Heaven</a>
    </h1>

    <div>
        {if $user->isLoggedIn()}
            <a n:href=":Admin:Homepage:default">Uživatelská sekce</a>
            <a n:href=":Admin:Settings:me">Já</a>
            <a n:href=":Admin:Sign:out">Odhlásit</a>
        {else}
            <a n:href=":Admin:Sign:in">Přihlásit</a>
            <a n:href=":Admin:Sign:up">Registrovat</a>
        {/if}
    </div>

    <div>

        {var $tags = $tagRepository->getAll()}

        <ul>
            <li><a n:href="Game:default">{_}locale.sections.games{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$wikiRepository->getAllByTag($tag, App\Model\Entities\WikiEntity::TYPE_GAME)">
                    <a n:href="Game:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>

            <li><a n:href="Movie:default">{_}locale.sections.movies{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$wikiRepository->getAllByTag($tag, App\Model\Entities\WikiEntity::TYPE_MOVIE)">
                    <a n:href="Movie:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>

            <li><a n:href="Book:default">{_}locale.sections.books{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$wikiRepository->getAllByTag($tag, App\Model\Entities\WikiEntity::TYPE_BOOK)">
                    <a n:href="Book:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>

            <li><a n:href="Article:default">{_}locale.sections.articles{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$articleRepository->getAllByTag($tag)">
                    <a n:href="Article:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>

            <li><a n:href="Gallery:default">{_}locale.sections.galleries{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$imageRepository->getAllByTag($tag)">
                    <a n:href="Gallery:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>

            <li><a n:href="Video:default">{_}locale.sections.videos{/_}</a></li>
            <ul>
                <li n:foreach="$tags as $tag" n:if="$videoRepository->getAllByTag($tag)">
                    <a n:href="Video:default, tagSlug => $tag->slug">{$tag->name}</a>
                </li>
            </ul>
        </ul>

    </div>

    {include content}

    {block scripts}
        {include '../../../presenters/templates/include/js.latte'}
    {/block}
</body>
</html>
