{block content}

{include '../include/topMenu.latte'}

<div id="top-buttons-bar">

    {include '../include/new.latte', link => 'MovieDetail:form', label => 'Nový článek'}

    {control filter:withDrafts}

</div>

{include '../include/itemList.latte', formLink => 'MovieDetail:form', detailLink => 'MovieDetail:detail'}

{control vp}
