{block content}

<div>
    <a n:href="games">{_}locale.sections.games{/_}</a>
    <a n:href="movies">{_}locale.sections.movies{/_}</a>
    <a n:href="books">{_}locale.sections.books{/_}</a>
</div>

<div>
    <a n:href="articles">{_}locale.sections.articles{/_}</a>
    <a n:href="galleries">{_}locale.sections.galleries{/_}</a>
    <a n:href="videos">{_}locale.sections.videos{/_}</a>
</div>
