#banner {
    position: relative;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#banner-link {
    display: block;
    margin: auto;
    width: 100%;
    height: 400px;
    outline: none;
}

#menu {
    position: absolute;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    top: 350px;
    width: 1000px;
    height: 50px;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    float: left;
    position: relative;
}

#menu ul li .menu-link {
    display: block;
    width: 115px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
}

#menu ul li ul {
    display: none;
    position: absolute;
}

#menu ul li:hover ul {
    display: block;
}

#menu ul li ul li {
    clear: both;
}

#menu .inactive-items-indicator {
    position: absolute;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    bottom: 60px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

#body-wrapper {
    margin: auto;
    width: 100%;
    background-color: #fff;
}

.matrix-menu-item {
    width: 300px;
    height: 300px;
    float: left;
    margin: 0 0 25px 25px;
    line-height: 300px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.matrix-menu-item .dark-filter {
    width: 300px;
    height: 300px;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
}

#content {
    margin: auto;
    padding-top: 25px;
    width: 1000px;
}

#footer {
    width: auto;
    padding: 10px 0 4px 0;
    background-color: #111;
}

#footer #github {
    text-align: center;
}

#footer #github img {
    width: 24px;
}

#footer-navigation {
    margin-bottom: 10px;
    text-align: center;
}

#footer-navigation a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
}

#facebook {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

#facebook a {
    text-decoration: none;
    color: #fff;
}

#copyright {
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
}

#copyright p {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

#cookies-confirmation {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: none;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    line-height: 50px;
    text-align: center;
    z-index: 100;
}

#cookies-confirmation .confirmation-button {
    background-color: #FF7E00;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
}

#chatbox {
    position: fixed;
    left: 5px;
    bottom: 0px;
    width: 170px;
    height: 25px;
}

#chatbox.active {
    height: 405px;
}

#chatbox .chatbox-switch {
    text-align: center;
    color: #fff;
    background-color: #000;
    line-height: 25px;
}

#chatbox iframe {
    width: 170px;
    height: 405px;
}

#latest-articles {
    float: left;
    width: 375px;
    margin-right: 20px;
}

#latest-articles h2 {
    text-align: center;
}

#latest-articles .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#news {
    float: left;
    width: 375px;
}

#news h2 {
    text-align: center;
}

#news .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-images {
    display: block;
    width: 960px;
    margin-top: 20px;
}

#latest-videos {
    display: block;
    width: 960px;
    margin-top: 20px;
}

#latest-games {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
    margin-right: 20px;
}

#latest-games h2 {
    text-align: center;
}

#latest-games .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-movies {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
    margin-right: 20px;
}

#latest-movies h2 {
    text-align: center;
}

#latest-movies .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-books {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
}

#latest-books h2 {
    text-align: center;
}

#latest-books .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

.homepage-section-header {
    text-align: center;
    margin-bottom: 10px;
}

.homepage-section-header.gap {
    margin-top: 10px;
}

.content-body textarea {
    width: 938px;
}

.filter {
    width: 1000px;
    padding: 0 25px 25px 25px;
    line-height: 50px;
}

.filter a {
    color: #666;
    border-bottom: 1px solid #666;
}

.filter a:hover {
    color: #999;
    border-bottom-color: #999;
}

.tags {
    width: 950px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

.tags a {
    color: #666;
    border-bottom: 1px solid #666;
}

.tags a:hover {
    color: #999;
    border-bottom-color: #999;
}
