{form form}

    {include 'include/errors.latte', form => $form}

    {include 'include/username.latte', _form => $form}

    {include 'include/email.latte', _form => $form}

    {include 'include/password.latte', _form => $form}

    {include 'include/passwordConfirm.latte', _form => $form}

    {include 'include/antiSpam.latte', _form => $form}

    {include 'include/submit.latte', _form => $form}

{/form}
