{form form}

    {foreach $form->errors as $error}
        <div>{$error}</div>
    {/foreach}

    <div>
        {label email /}
        {input email}
    </div>

    <div>
        {input submit}
    </div>

{/form}
