{block content}

<div n:if="$wiki->isActive">
    <a nhre="#">Upravit</a>
</div>

<h1 n:block="title">{$wiki->name}</h1>

<div>{$wiki->text|noescape}</div>

{if $wiki->isActive}

    {control form}

{/if}
