doctrine:
    dbname: dbname
    host: 127.0.0.1
    user: root
    password: password
    charset: UTF8
    driver: pdo_mysql

tracy:
    bar:
        - Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

services:
    nette.mailer:
        class: Nette\Mail\IMailer
        factory: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)
