parameters:
    cacheDir: %tempDir%/cache
    contactEmail: 'contact@example.com'
    noReplyEmail: 'no-reply@example.com'
    sessionsDir: %tempDir%/sessions
    thumbsDir: /thumbs
    uploadDir: /upload
    videoThumbnailsDir: /video_thumbnails
    vimeoOembedEndpoint: 'https://vimeo.com/api/oembed.xml'

php:
    date.timezone: Europe/Prague

application:
    scanDirs: false
    mapping:
        *: App\*\*Presenter

session:
    autoStart: true
    expiration: '14 days'
    save_path: %sessionsDir%

services:
    accessChecker: App\Security\AccessChecker
    authenticator: App\Security\Authenticator
    duplicityChecker: App\Duplicities\DuplicityChecker
    htmlPurifier: App\Utils\HtmlPurifierFactory::createHtmlPurifier
    identityFactory: App\Security\IdentityFactory
    loggedUser: App\Security\LoggedUser
    messageFactory: App\Emails\MessageFactory
    paginatorFactory: App\Utils\PaginatorFactory
    router: App\Router\RouterFactory::createRouter
    videoThumbnail: App\Videos\VideoThumbnail(%wwwDir%, %videoThumbnailsDir%, %vimeoOembedEndpoint%, '/images/default-video-image.jpg')

    accountActivationLinkGenerator: App\Links\AccountActivationLinkGenerator
    accountActivationEmail: App\Emails\AccountActivationEmail(@translation.default, @nette.mailer, @latte.latteFactory::create(), @messageFactory::createMessage(), @http.request, %appDir%/Emails/templates/registration.latte, %noReplyEmail%, 'locale.sign.sign_up_request')
    forgottenPasswordLinkGenerator: App\Links\ForgottenPasswordLinkGenerator
    forgottenPasswordEmail: App\Emails\ForgottenPasswordEmail(@translation.default, @nette.mailer, @latte.latteFactory::create(), @messageFactory::createMessage(), %appDir%/Emails/templates/forgottenPassword.latte, %noReplyEmail%, 'locale.sign.new_password_request')

    singleUserContentDao: App\Dao\SingleUserContentDao
    wikiDao: App\Dao\WikiDao

    articleRepository: App\Repositories\ArticleRepository(@doctrine.dao(App\Entities\ArticleEntity))
    backlinkRepository: App\Repositories\BacklinkRepository(@doctrine.dao(App\Entities\BacklinkEntity))
    bookRepository: App\Repositories\BookRepository(@doctrine.dao(App\Entities\WikiEntity))
    gameRepository: App\Repositories\GameRepository(@doctrine.dao(App\Entities\WikiEntity))
    imageRepository: App\Repositories\ImageRepository(%wwwDir%, %uploadDir%, @doctrine.dao(App\Entities\ImageEntity), @doctrine.dao(App\Entities\FileEntity))
    movieRepository: App\Repositories\MovieRepository(@doctrine.dao(App\Entities\WikiEntity))
    tagRepository: App\Repositories\TagRepository(@doctrine.dao(App\Entities\TagEntity))
    userRepository: App\Repositories\UserRepository(@doctrine.dao(App\Entities\UserEntity))
    videoRepository: App\Repositories\VideoRepository(%vimeoOembedEndpoint%, @doctrine.dao(App\Entities\VideoEntity))
    wikiDraftRepository: App\Repositories\WikiDraftRepository(@doctrine.dao(App\Entities\WikiDraftEntity))

    getArticlesByTag: App\Repositories\GetArticlesByTag
    getBooksByTag: App\Repositories\GetBooksByTag
    getGamesByTag: App\Repositories\GetGamesByTag
    getImagesByTag: App\Repositories\GetImagesByTag
    getMoviesByTag: App\Repositories\GetMoviesByTag
    getVideosByTag: App\Repositories\GetVideosByTag

    tagCache: App\Caching\TagCache(
        Nette\Caching\Cache(
            Nette\Caching\Storages\FileStorage(%cacheDir%), 'tags'
        )
    )

    articleTagSectionCache: App\Caching\ArticleTagSectionCache
    bookTagSectionCache: App\Caching\BookTagSectionCache
    gameTagSectionCache: App\Caching\GameTagSectionCache
    imageTagSectionCache: App\Caching\ImageTagSectionCache
    movieTagSectionCache: App\Caching\MovieTagSectionCache
    videoTagSectionCache: App\Caching\VideoTagSectionCache

    articleForm:
        implement: App\Forms\ArticleFormInterface
    galleryForm:
        implement: App\Forms\GalleryFormInterface
    profileSettingsForm:
        implement: App\Forms\ProfileSettingsFormInterface
    signInForm:
        implement: App\Forms\SignInFormInterface
    signPasswordForm:
        implement: App\Forms\SignPasswordFormInterface
    signResetForm:
        implement: App\Forms\SignResetFormInterface
    signUpForm:
        implement: App\Forms\SignUpFormInterface
    videoForm:
        implement: App\Forms\VideoFormInterface
    wikiDraftForm:
        implement: App\Forms\WikiDraftFormInterface
    wikiForm:
        implement: App\Forms\WikiFormInterface

    filterControl:
        implement: App\Components\FilterControlInterface
    tagsControl:
        implement: App\Components\TagsControlInterface
    visualPaginatorControl:
        implement: App\Components\VisualPaginatorControlInterface

extensions:
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    arachneContainerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachneEventDispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension
    console: Kdyby\Console\DI\ConsoleExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension
    gitPanel: HeavenProject\GitBranchPanel\GitBranchPanelExtension
    migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
    server: Kdyby\NettePhpServer\DI\PhpServerExtension
    sessionPanel: Kdyby\SessionPanel\DI\SessionPanelExtension
    thumb: HeavenProject\Thumbnailer\DI\ThumbExtension
    timestampable: Zenify\DoctrineBehaviors\DI\TimestampableExtension
    translatable: Zenify\DoctrineBehaviors\DI\TranslatableExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    userCommandLine: HeavenProject\UserCommandLine\UserCommandLineExtension

migrations:
    table: _migrations

thumb:
    wwwDir: %wwwDir%
    thumbDir: %thumbsDir%

translation:
    default: cs
    dirs: [%appDir%/../locale]

userCommandLine:
    targetEntity: App\Entities\UserEntity
