{block title} {_}locale.sections.books{/_} {if $tag} - {$tag->name}{/if} {/block}

{block content}

{foreach $wikis as $wiki}

    <div>
        <h2 n:class="listing-item-header, !$wiki->isActive ? not-public">
            <a n:href="detail, tagSlug => $wiki->tag->slug, slug => $wiki->slug">{$wiki->name}</a>
        </h2>
        <p class="perex">{$wiki->perex}</p>
    </div>

{/foreach}

{control vp}
