sections:
    games: Hry
    movies: Filmy
    books: Knihy
    articles: Články
    galleries: Galerie
    videos: Videa

form:
#    image: 'Obrázek'
#    image_additional: 'Doplňující obrázek'
#    active: 'Aktivní'
    name: 'Název'
    name_required: 'Zadejte prosím název.'
#    slug: 'Slug'
#    slug_placeholder: 'Bude automaticky vygenerováno pokud nevyplněno'
#    keywords: 'Klíčová slova'
    username: 'Uživatelské jméno'
    username_required: 'Zadejte prosím Vaše uživatelské jméno.'
    save: 'Uložit'
    email: 'E-mail'
    email_required: 'Zadejte prosím svůj přihlašovací e-mail.'
    email_not_in_order: 'Zadaný e-mail neodpovídá požadovanému formátu.'
    email_address: 'Zadejte prosím svoji e-mailovou adresu.'
    perex: 'Perex'
    perex_required: 'Zadejte prosím perex.'
    text: 'Text'
    text_required: 'Zadejte prosím text.'
#    forename: 'Jméno'
#    forename_required: 'Zadejte prosím Vaše křestní jméno.'
#    surname: 'Příjmení'
#    surname_required: 'Zadejte prosím Vaše příjmení.'
#    phone: 'Telefon'
#    phone_required: 'Zadejte prosím Vaše telefonní číslo.'
    password: 'Heslo'
    password_required: 'Zadejte prosím Vaše přihlašovací heslo.'
    password_confirm: 'Heslo (pro ověření)'
    password_confirm_required: 'Zadejte prosím Vaše přihlašovací heslo znovu pro ověření.'
    password_equal: 'Hesla se musí shodovat.'
    password_new: 'Nové heslo'
    password_new_required: 'Zadejte prosím Vaše nové přihlašovací heslo.'
    password_new_confirm: 'Nové heslo (pro ověření)'
    password_new_confirm_required: 'Zadejte prosím Vaše nové přihlašovací heslo znovu pro ověření.'
    submit_change_password: 'Změnit heslo'
    remember: 'Neodhlašovat'
#    submit: 'Potvrdit'
    submit_sign_up: 'Registrovat'
#    reset_password: 'Resetovat heslo'
#    birth: 'Datum narození'
#    gender: 'Pohlaví'
#    gender_male: 'Muž'
#    gender_female: 'Žena'
#    category: 'Kategorie'
    sign_in: 'Přihlásit'
#    title_meta: 'Meta titulek'
#    description_meta: 'Meta popis'
#    description: 'Popis'
#    alt: 'Alternativní popis'
#    fullname: 'Vaše jméno'
#    fullname_required: 'Zadejte prosím Vaše jméno.'
    send: 'Odeslat'
#    gallery: 'Galerie'
    spam_attempt_sign_reset: 'Byl zaznamenán pokus o odeslání spamu prostřednictvím formuláře pro vyžádání nového hesla.'
    spam_attempt_sign_up: 'Byl zaznamenán pokus o odeslání spamu prostřednictvím registračního formuláře.'
    tag: Zařazení

error:
    occurred: 'Došlo k chybě.'
    missing_tag: 'Záznam nelze zařadit do neexistující kategorie.'

sign:
    password_changed_sign_in: 'Heslo bylo změněno. Přihlašte se prosím.'
    in: 'Vítejte.'
#    in_session: 'Vítejte zpět. Čas Vašeho přihlášení vyprší po 60 minutách neaktivity nebo po zavření Vašeho webového prohlížeče.'
#    out: 'Byl/a jste odhlášen/a.'
    incorrect_email: 'Nesprávný přihlašovací e-mail.'
    incorrect_password: 'Nesprávné přihlašovací heslo.'
    authentication_waiting: 'Čeká se na ověření.'
#    authentication_account_does_not_exist: 'Pokus o aktivaci neexistujícího uživatelského účtu.'
#    authentication_expired: 'Čas pro aktivaci uživatelského účtu vypršel.'
#    account_activated: 'Váš účet byl úspěšně aktivován. Nyní se můžete přihlásit.'
#    to_sign_reset: 'Zapomenuté heslo'
#    to_sign_in: 'Zpět na přihlášení'
#    password: 'Zadejte prosím své nové heslo.'
#    password_link_sent: 'E-mail s odkazem pro zadání nového hesla byl zaslán na zadanou e-mailovou adresu.'
#    not_administrator: 'Nejste administrátorem s přístupem do této sekce aplikace.'
    new_password_request: 'Vyžádání nového hesla.'
    new_password_request_email_sent: 'Na zadanou adresu byl odeslán e-mail.'
    sign_up_request: 'Registrace'
    sign_up_email_sent: 'Na zadanou adresu byl zaslán e-mail, pomocí kterého můžete registraci dokončit.'

item:
    does_not_exist: 'Neexistující položka.'
    created: 'Položka byla úspěšně vytvořena.'
    updated: 'Položka byla úspěšně upravena.'
    deleted: 'Položka byla úspěšně smazána.'

duplicity:
    article_name: 'Článek s tímto názvem již existuje.'
    article_tag_and_name: 'Článek s tímto názvem ve zvolené kategorii již existuje.'
    article_tag_and_slug: 'Název tohoto článku se buď přímo shoduje nebo je příliž podobný s některými již existujícími články v této kategorii. Pokuste se prosím zvolit název, který bude více jednoznačný.'
