{block title} {_}locale.sections.games{/_} {if $tag} - {$tag->name}{/if} {/block}

{block content}

<div class="content-body">

    {foreach $wikis as $wiki}

        <h2 n:class="listing-item-header, !$wiki->isActive ? not-public">

            <a n:href="detail, tagSlug => $wiki->tag->slug, slug => $wiki->slug">{$wiki->name}</a>

        </h2>

        <p class="perex">{$wiki->perex}</p>

    {/foreach}

    {control vp}

</div>
