{block content}

{foreach $wikis as $wiki}

    <div>
        <h2><a n:href="detail, tagSlug => $wiki->tag->slug, slug => $wiki->slug">{$wiki->id}. {$wiki->name}</a></h2>
        <p>{$wiki->perex}</p>
    </div>

{/foreach}

{control vp}
