{block content}

<a href="{plink Game:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-games.jpg);">
        <div class="dark-filter">{_}locale.sections.games{/_}</div>
    </div>
</a>

<a href="{plink Movie:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-movies.jpg);">
        <div class="dark-filter">{_}locale.sections.movies{/_}</div>
    </div>
</a>

<a href="{plink Book:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-books.jpg);">
        <div class="dark-filter">{_}locale.sections.books{/_}</div>
    </div>
</a>

<a href="{plink Article:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-articles.jpg);">
        <div class="dark-filter">{_}locale.sections.articles{/_}</div>
    </div>
</a>

<a href="{plink Gallery:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-galleries.jpg);">
        <div class="dark-filter">{_}locale.sections.galleries{/_}</div>
    </div>
</a>

<a href="{plink Video:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-videos.jpg);">
        <div class="dark-filter">{_}locale.sections.videos{/_}</div>
    </div>
</a>

<div class="clear-left"></div>

{*
<div id="chatbox">
    <h2>Chat</h2>
    <iframe class="box" src="http://www.blueboard.cz/shoutboard.php?hid=7rt6vchbr4x9b0urcnu48rp6d2od0r" frameborder="0">
        <a href="http://www.blueboard.cz/shoutboard.php?hid=7rt6vchbr4x9b0urcnu48rp6d2od0r">ShoutBoard od BlueBoard.cz</a>
    </iframe>
</div>

<div id="latest-articles">
    <h2>Poslední články</h2>
    <div class="box">
        {foreach $latestArticles as $article}
            <h3>{$article->name}</h3>
            <div>{$article->perex}</div>
            <div>
                <a n:href="Article:detail, tagSlug => $article->tag->slug, slug => $article->slug">Celý článek &gt;&gt;</a>
            </div>
        {/foreach}
    </div>
</div>

<div id="news">
    <h2>Novinky</h2>
    <div class="box">
        {foreach $news as $n}
            <h3>{$n->name}</h3>
            <div>{$n->perex}</div>
            <div>
                <a n:href="Article:detail, tagSlug => $n->tag->slug, slug => $n->slug">Celý článek &gt;&gt;</a>
            </div>
        {/foreach}
    </div>
</div>

<div class="clear-left"></div>

<h2 class="homepage-section-header gap">Nejnovější obrázky v galerii</h2>

<div id="latest-images">
    <div n:foreach="$latestImages as $image" class="gallery-image">
        {var $description = $image->name ?: $image->tag->name}
        {var $filePath = $basePath . $uploadDir . '/' . $image->file->getFilePath()}
        <a class="gallery-image-link" href="{$filePath}" data-lightbox="gallery" data-title="{$description}">
            <img src="{$filePath|thumb:320:320}" title="{$description}" alt="{$description}">
        </a>
    </div>
</div>

<div class="clear-left"></div>

<h2 class="homepage-section-header gap">Poslední aktivita na wiki</h2>

<div id="latest-games">
    <h2>{_}locale.sections.games{/_}</h2>
    <div class="box">
        {foreach $latestGames as $game}
            <h3>{$game->name}</h3>
            <div>{$game->perex}</div>
            <div>
                <a n:href="Game:detail, tagSlug => $game->tag->slug, slug => $game->slug">Celý článek &gt;&gt;</a>
            </div>
        {/foreach}
    </div>
</div>

<div id="latest-movies">
    <h2>{_}locale.sections.movies{/_}</h2>
    <div class="box">
        {foreach $latestMovies as $movie}
            <h3>{$movie->name}</h3>
            <div>{$movie->perex}</div>
            <div>
                <a n:href="Movie:detail, tagSlug => $movie->tag->slug, slug => $movie->slug">Celý článek &gt;&gt;</a>
            </div>
        {/foreach}
    </div>
</div>

<div id="latest-books">
    <h2>{_}locale.sections.books{/_}</h2>
    <div class="box">
        {foreach $latestBooks as $book}
            <h3>{$book->name}</h3>
            <div>{$book->perex}</div>
            <div>
                <a n:href="Book:detail, tagSlug => $book->tag->slug, slug => $book->slug">Celý článek &gt;&gt;</a>
            </div>
        {/foreach}
    </div>
</div>

<div class="clear-left"></div>

<h2 class="homepage-section-header gap">Nejnovější videa</h2>

<div id="latest-videos">
    <div n:foreach="$latestVideos as $video" class="gallery-image">
        {var $description = $video->name ?: $video->tag->name}
        <a class="gallery-image-link" n:href="Video:detail, tagSlug => $video->tag->slug, slug => $video->slug">
            <img src="{$videoThumbnail->getThumbnailImage($video)|thumb:320:320}" title="{$description}" alt="{$description}">
        </a>
    </div>
</div>

<div class="clear-left"></div>
*}