{block content}

<a href="{plink Game:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-games.jpg);">
        <div class="dark-filter">{_}locale.sections.games{/_}</div>
    </div>
</a>

<a href="{plink Movie:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-movies.jpg);">
        <div class="dark-filter">{_}locale.sections.movies{/_}</div>
    </div>
</a>

<a href="{plink Book:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-books.jpg);">
        <div class="dark-filter">{_}locale.sections.books{/_}</div>
    </div>
</a>

<a href="{plink Article:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-articles.jpg);">
        <div class="dark-filter">{_}locale.sections.articles{/_}</div>
    </div>
</a>

<a href="{plink Gallery:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-galleries.jpg);">
        <div class="dark-filter">{_}locale.sections.galleries{/_}</div>
    </div>
</a>

<a href="{plink Video:default}">
    <div class="matrix-menu-item" style="background-image: url({$basePath}/images/matrix-menu-videos.jpg);">
        <div class="dark-filter">{_}locale.sections.videos{/_}</div>
    </div>
</a>

<div class="clear-left"></div>

<iframe id="chatbox" src="http://www.blueboard.cz/shoutboard.php?hid=7rt6vchbr4x9b0urcnu48rp6d2od0r" frameborder="0">
    <a href="http://www.blueboard.cz/shoutboard.php?hid=7rt6vchbr4x9b0urcnu48rp6d2od0r">ShoutBoard od BlueBoard.cz</a>
</iframe>
