{block content}

<div>
    <a n:href="games">{_}ui.games{/_}</a>
    <a n:href="movies">{_}ui.movies{/_}</a>
    <a n:href="books">{_}ui.books{/_}</a>
</div>

<div>
    <a n:href="articles">{_}ui.articles{/_}</a>
    <a n:href="galleries">{_}ui.galleries{/_}</a>
    <a n:href="videos">{_}ui.videos{/_}</a>
</div>
