{block content}

{foreach $items as $item}

    {var $description = $item->name ?: $item->tag->name}

    <img src="{$basePath}{$uploadDir . '/' . $item->file->getFilePath()|thumb:100:100}" title="{$description}" alt="{$description}">

{/foreach}

{control vp}
