<a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_DRAFTS}" n:class="$activeFilter === App\Components\FilterControl::DISPLAY_DRAFTS ? active">{_}locale.filter.display_drafts{/_}</a>
