<a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_DEFAULT}" n:class="$activeFilter === App\Components\FilterControl::DISPLAY_DEFAULT ? active">{_}locale.filter.display_mine{/_}</a>
