<a href="{plink default, filter-filter => App\Components\FilterControl::DISPLAY_INACTIVE}" n:class="$activeFilter === App\Components\FilterControl::DISPLAY_INACTIVE ? active">{_}locale.filter.display_inactive{/_}</a>
