{block title} {_}locale.sections.articles{/_} {if $tag} - {$tag->name}{/if} {/block}

{block content}

<div>
    {if $inactiveOnly}
        <a n:href="this">Zobrazit vše</a>
    {else}
        <a href="{plink this}?inactiveOnly">Zobrazit pouze neschválené</a>
    {/if}
</div>

{foreach $articles as $article}

    <div>
        <h2><a n:href="detail, tagSlug => $article->tag->slug, slug => $article->slug">{if !$article->isActive}&times;{/if} {$article->id}. {$article->name}</a></h2>
        {if !$article->isActive}
            <a n:href="activate!, articleId => $article->id" data-confirm="{_}locale.alert.question{/_}">Povolit</a>
            <a n:href="delete!, articleId => $article->id" data-confirm="{_}locale.alert.question{/_}">Smazat</a>
        {/if}
        <p>{$article->perex}</p>
    </div>

{/foreach}

{control vp}
