{block content}

<h1 n:block="title">{$article->name}</h1>

{if !$article->isActive}
    <a n:href="activate!, articleId => $article->id" data-confirm="{_}locale.alert.question{/_}">Povolit</a>
    <a n:href="delete!, articleId => $article->id" data-confirm="{_}locale.alert.question{/_}">Smazat</a>
{/if}

<div>{$article->text|noescape}</div>
