{contentType text/plain}
{cache}
Sitemap: {$baseUri}/robots.txt
User-agent: *
Disallow: {plink :Admin:Sign:unlock}
Disallow: {plink :Admin:Settings:me}
Disallow: {plink :Admin:Sign:out}
Disallow: {plink :Admin:Homepage:default}
Disallow: {plink :Admin:Sign:password}
{/cache}
