<span n:if="$canAccess" class="activity-switch">
    {if $state}
        <a n:href="default, inactiveOnly => 'no'">{$all}</a>
    {else}
        <a n:href="default, inactiveOnly => 'yes'">{$inactiveOnly}</a>
    {/if}
</span>
