<span n:if="$canAccess" class="activity-switch">
    {if $state}
        <a n:href="this, page => 1, inactiveOnly => 'no'">{$all}</a>
    {else}
        <a n:href="this, inactiveOnly => 'yes'">{$inactiveOnly}</a>
    {/if}
</span>
