{if $items}

    {foreach $items as $item}

        <div>

            {if $item->drafts->count()}

                <a n:href="WikiDraft:default, wikiId => $item->id">{$item->name}</a>

            {else}

                <a n:href="form, id => $item->id">{$item->name}</a>

            {/if}

        </div>

    {/foreach}

{/if}
