{block content}

{include '../include/topMenu.latte'}

{foreach $wiki->drafts as $draft}

    <div>

        <a n:href="WikiDraftDetail:detail, wikiId => $wiki->id, id => $draft->id">Úprava z {$draft->createdAt->format('Y-m-d')}, v {$draft->createdAt->format('H:i:s')}, od {$draft->user->username}</a>

    </div>

{/foreach}
