{block title} {_}locale.sections.videos{/_} {if $tag} - {$tag->name}{/if} {/block}

{block content}

{foreach $videos as $video}

    <p>{if !$video->isActive}&times;{/if} {$video->name}</p>

{/foreach}

{control vp}
