{block content}

<h1 n:block="title">{$video->name}</h1>

{if !$video->isActive}
    <a n:href="activate!, videoId => $video->id" data-confirm="{_}locale.alert.question{/_}">Povolit</a>
    <a n:href="delete!, videoId => $video->id" data-confirm="{_}locale.alert.question{/_}">Smazat</a>
{/if}

<iframe
    width="960"
    height="540"
    src="{$video->src}"
    frameborder="0"
    title="{$video->name}"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
></iframe>
