* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

#top-nav-bar {
    width: auto;
    height: 50px;
    color: #fff;
    background-color: #111;
}

#top-nav-bar #theme-switch {
    float: left;
    /*margin: 0;*/
    margin-left: 25px;
    font-size: 20px;
    line-height: 50px;
}

#top-nav-bar #nav-bar-items {
    float: right;
    /*margin: 0;*/
    margin-right: 25px;
    font-size: 20px;
    line-height: 50px;
}

#top-nav-bar .item {
    margin-left: 5px;
}

#top-nav-bar a {
    color: #ccc;
    text-decoration: none;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}

.pointer {
    cursor: pointer;
}

#black-filter {
    display: none;
}

#black-filter.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 100;
}

.modal {
    display: none;
}

.modal.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    width: 500px;
    margin: auto;
    background-color: #fff;
    z-index: 200;
}

.close {
    font-size: 35px;
    line-height: 0.5;
    float: right;
    padding: 10px;
}

hr {
    /*margin: 0;*/
    border: none;
    border-top: 1px solid #ccc;
}

.flash {
    text-align: center;
}

.success,
.info,
.warning,
.danger {
    padding: 10px 25px;
    color: #fff;
}

.success {
    background-color: #0f0;
}

.info {
    background-color: #03f;
}

.warning {
    background-color: #f10;
}

.danger {
    background-color: #f10;
}

.listing-item-header {
    /*margin: 0;*/
}

.listing-item-header.not-public a {
    color: #fc0;
}

.listing-item-header.not-public a:hover {
    color: #f90;
}

.perex {
    margin-top: 10px;
    margin-bottom: 25px;
}

#activity-switch {
    margin-bottom: 15px;
}

.activation-links {
    margin-bottom: 10px;
}

.gallery-image {
    float: left;
    width: 160px;
    height: 160px;
}

.gallery-image .gallery-image-link {
    display: block;
    height: 100%;
}

.activation-bar {
    display: none;
    position: relative;
    bottom: 25%;
    height: 25%;
    text-align: center;
    background-color: #000;
    /*opacity: 0.5;*/
}

.activation-bar a {
    margin: 0 5px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
}

.activation-bar a:hover {
    text-decoration: underline;
}

.gallery-image:hover .activation-bar {
    display: block;
}

label,
input[type=text],
input[type=password],
input[type=submit] {
    margin: 0px 20px 10px 20px;
}

input[type=text],
input[type=password] {
    width: 448px;
    padding: 5px;
    border: 1px solid #999;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}

#paginator {
    margin-top: 20px;
    text-align: center;
}
