* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

a {
    outline: none;
}

#top-nav-bar {
    width: auto;
    height: 50px;
    padding: 10px 0;
    color: #fff;
    background-color: #000;
}

#top-nav-bar #hots-icon {
    float: left;
    margin-left: 25px;
    height: 50px;
    display: block;
}

#top-nav-bar #theme-switch {
    float: left;
    margin-left: 10px;
    font-size: 20px;
    line-height: 50px;
}

#top-nav-bar #nav-bar-items {
    float: right;
    margin-right: 25px;
    font-size: 20px;
    line-height: 50px;
}

#top-nav-bar .item {
    margin-left: 5px;
}

#top-nav-bar a {
    color: #fff;
    text-decoration: none;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}

.pointer {
    cursor: pointer;
}

#black-filter {
    display: none;
}

#black-filter.active {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 200;
}

.form-container {
    margin: 20px;
}

.modal {
    display: none;
}

.modal.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    width: 500px;
    margin: auto;
    background-color: #fff;
    z-index: 300;
}

label {
    color: #111;
}

select {
    width: 1000px;
}

textarea {
    height: 75px;
}

textarea,
input[type=text],
input[type=password] {
    width: 988px;
}

select,
textarea,
input[type=text],
input[type=password] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
}

.modal input[type=text],
.modal input[type=password] {
    width: 448px;
}

.submit input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #090;
}

.modal .submit {
    text-align: center;
}

.modal-links-wrapper {
    text-align: center;
}

.modal-links-wrapper .item {
    margin: 0 5px;
}

.modal .header {
    font-size: 20px;
    line-height: 50px;
    float: left;
    margin-left: 20px;
}

.modal .close {
    font-size: 35px;
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

.form-error {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.form-error .close {
    font-size: 25px;
    float: right;
    margin-right: 0;
}

.flash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 200;
}

.flash .close {
    font-size: 25px;
    float: right;
}

.success,
.info,
.warning,
.danger {
    padding: 0 25px;
    color: #fff;
}

.success {
    background-color: #090;
}

.info {
    background-color: #03f;
}

.warning {
    background-color: #f10;
}

.danger {
    background-color: #f10;
}

.listing-item-header.not-public a {
    color: #fc0;
}

.listing-item-header.not-public a:hover {
    color: #f90;
}

.perex {
    margin-top: 10px;
    margin-bottom: 25px;
}

#activity-switch {
    margin-bottom: 15px;
}

.activation-links {
    margin-bottom: 10px;
}

.gallery-image {
    float: left;
    width: 160px;
    height: 160px;
}

.gallery-image img {
    width: 160px;
    height: 160px;
}

.gallery-image .gallery-image-link {
    display: block;
    height: 100%;
}

.activation-bar {
    display: none;
    position: relative;
    bottom: 25%;
    height: 25%;
    text-align: center;
    background-color: #000;
}

.activation-bar a {
    margin: 0 5px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
}

.activation-bar a:hover {
    text-decoration: underline;
}

.gallery-image:hover .activation-bar {
    display: block;
}

#paginator {
    margin-top: 20px;
    text-align: center;
}

#bg-body-wrapper {
    background-repeat: no-repeat;
    background-position: center top;
}

#bg-body-wrapper-gap {
    display: block;
    margin: auto;
    width: auto;
    height: 300px;
    outline: none;
}

#body-wrapper {
    margin: auto;
    width: 1000px;
    background-color: #fff;
}

#menu {
    width: 1000px;
    height: 50px;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    width: 166.666666667px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

#menu ul li ul {
    display: none;
    position: absolute;
}

#menu ul li:hover ul {
    display: block;
}

#menu ul li ul li {
    clear: both;
}

#content {
    width: auto;
    padding: 20px;
}

#content h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

#footer {
    width: auto;
    padding: 10px 0 4px 0;
    background-color: #111;
}

#footer #github {
    text-align: center;
}

#footer #github img {
    width: 24px;
}

#footer-navigation {
    margin-bottom: 10px;
    text-align: center;
}

#footer-navigation a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
}

#facebook {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

#facebook a {
    text-decoration: none;
    color: #fff;
}

#copyright {
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
}

#copyright p {
    text-align: center;
    font-size: 10px;
    color: #fff;
}

#cookies-confirmation {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: none;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    line-height: 50px;
    text-align: center;
    z-index: 100;
}

#cookies-confirmation .confirmation-button {
    background-color: #FF7E00;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
}

#chatbox {
    float: left;
    width: 170px;
    margin-right: 20px;
}

#chatbox h2 {
    text-align: center;
}

#chatbox .box {
    width: 170px;
    height: 380px;
}

#latest-articles {
    float: left;
    width: 375px;
    margin-right: 20px;
}

#latest-articles h2 {
    text-align: center;
}

#latest-articles .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#news {
    float: left;
    width: 375px;
}

#news h2 {
    text-align: center;
}

#news .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-images {
    display: block;
    width: 960px;
    margin-top: 20px;
}

#latest-videos {
    display: block;
    width: 960px;
    margin-top: 20px;
}

#latest-games {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
    margin-right: 20px;
}

#latest-games h2 {
    text-align: center;
}

#latest-games .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-movies {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
    margin-right: 20px;
}

#latest-movies h2 {
    text-align: center;
}

#latest-movies .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

#latest-books {
    float: left;
    width: 306.666666667px;
    margin-top: 20px;
}

#latest-books h2 {
    text-align: center;
}

#latest-books .box {
    height: 380px;
    padding-right: 20px;
    overflow-y: scroll;
}

.homepage-section-header {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.homepage-section-header.gap {
    margin-top: 10px;
}

.text-content img {
    display: block;
    margin: auto;
    max-width: 960px;
}

.text-content p {
    text-align: justify;
    text-indent: 25px;
}

.text-content > * {
    margin: 10px 0;
}

.text-content > *:first-child {
    margin-top: 0;
}

.text-content > *:last-child {
    margin-bottom: 0;
}

.text-content ul,
.text-content ol,
.text-content li {
    margin-left: 20px;
}
