a {
    color: #f10;
}

#menu ul li a {
    color: #fff;
    background-color: #f10;
}

#menu ul li a:hover {
    background-color: #c1f;
}

.listing-item-header a {
    color: #f10;
}

.listing-item-header a:hover {
    color: #c1f;
}
