body {
    background-color: #fff;
}

a {
    color: #03f;
}

#bg-body-wrapper {
    background-color: #fff;
}

#menu ul li a {
    color: #fff;
    background-color: #03f;
}

#menu ul li a:hover {
    background-color: #01f;
}

.listing-item-header a {
    color: #03f;
}

.listing-item-header a:hover {
    color: #01f;
}
