a {
    color: #f10;
}

#bg-body-wrapper {
    background-color: #000;
}

#menu ul li a {
    color: #fff;
    background-color: #f10;
}

#menu ul li a:hover {
    background-color: #c10;
}

.listing-item-header a {
    color: #f10;
}

.listing-item-header a:hover {
    color: #c10;
}
